<h2>Tabs</h2>

<button (click)="visible = !visible">
  Toggle 3 tab
</button>

<tabs>
  <tab>
    <tab-title>
      Title 1
    </tab-title>
    <tab-content>
      <i>Content</i> 1
    </tab-content>
  </tab>
  <tab>
    <tab-title>
      <i>Title</i> 2
    </tab-title>
    <tab-content>
      Content 2
    </tab-content>
  </tab>
  <tab *ngIf="visible">
    <tab-title> 
      Title 3
    </tab-title>
    <tab-content>
      <img src="https://yastatic.net/www/_/_/i/tLI86LIriNsIJwhEqZS2o1Ckk.webp" alt="Yandex"><br>
      Content 3
    </tab-content>
  </tab>
</tabs>